[submodule "ESP32-RevK"]
	path = ESP32-RevK
	url = https://github.com/revk/ESP32-RevK
[submodule "components/ESP32-RevK"]
	path = components/ESP32-RevK
	url = https://github.com/revk/ESP32-RevK
[submodule "watchy-hardware"]
	path = watchy-hardware
	url = https://github.com/sqfmi/watchy-hardware
