[submodule "watchy-hardware"]
	path = watchy-hardware
	url = https://github.com/sqfmi/watchy-hardware
[submodule "components/QR"]
	path = components/QR
	url = https://codeberg.org/RevK/QR
[submodule "components/ESP32-RevK"]
	path = components/ESP32-RevK
	url = https://codeberg.org/RevK/ESP32-RevK
[submodule "components/ESP32-GFX"]
	path = components/ESP32-GFX
	url = https://codeberg.org/RevK/ESP32-GFX
